* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Arial',  sans-serif;
    background: #2d3e50;
    color: #FFF;
}

a {
    color: #FFF;
}

figcaption, figure {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}

#main {
    position: relative;
}

#carousel {
    position: relative;
    z-index: 1;
    max-width: 720px;
    margin: 0 auto;
}

.flexslider {
    background: none;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.image-carousel li {
    position: relative;
}

.image-carousel li figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    padding: 8px 0;
    display: block;
    text-decoration: none;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.image-carousel {
    padding-bottom: 44px;
}

.image-carousel .flex-active-slide:after {
    display: block;
    content: '';
    position: absolute;
    width: 22px;
    height: 14px;
    bottom: -44px;
    left: 50%;
    margin-left: -11px;
    background: url(../img/active-arrow.png) no-repeat;
}

#content-area {
    position: relative;
    top: -14px;
    z-index: 0;
    background-size: cover;
    padding: 40px 30px;
    background-position: center bottom; 
}

blockquote span {
    display: block;
}

.blockquote-wrap {
    padding: 10px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    text-align: center;   
    font-weight: normal;
    display: block;
    font-size: 18px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.blockquote-wrap .blockquote-author {
    margin: 10px 0 0;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
    
    #content-area {
        padding: 80px 100px;
    }

    .blockquote-wrap {
        font-size: 24px;
    }
}
